<html>
<link rel ="stylesheet" href='static/index.css'>

    <h1>Body Fat Prediction</h1>
    <form method="POST" action="/bodyfat">
        <label>Age:</label>
        <input type="number" name="Age"><br>

        <label>Weight:</label>
        <input type="number" name="Weight"><br>

        <label>Height:</label>
        <input type="number" name="Height"><br>

        <label>Neck Circumference:</label>
        <input type="number" name="Neck"><br>

        <label>Chest Circumference:</label>
        <input type="number" name="Chest"><br>

        <label>Abdomen Circumference:</label>
        <input type="number" name="Abdomen"><br>

        <label>Hip Circumference:</label>
        <input type="number" name="Hip"><br>

        <label>Thigh Circumference:</label>
        <input type="number" name="Thigh"><br>

        <label>Knee Circumference:</label>
        <input type="number" name="Knee"><br>

        <label>Ankle Circumference:</label>
        <input type="number" name="Ankle"><br>

        <label>Biceps Circumference:</label>
        <input type="number" name="Biceps"><br>

        <label>Forearm Circumference:</label>
        <input type="number" name="Forearm"><br>

        <label>Wrist Circumference:</label>
        <input type="number" name="Wrist"><br>

        <input type="submit" value="Predict">
    </form>

      

<script src='static/index.js'></script>
</html>